{%extends "base.html"%}
{%block title%}Firewall Status{%endblock%}
{%block content%}
{%include "navbar.html"%}
    <div class="container mt-3">
        <div class="container mt-2">
            <div class="mb-2">
                <h2>Edit Firewall IP</h2>
            </div>
            <form method="POST">
                <div class="input-group mb-3" style="width:35rem;">
                    <input type="text" class="form-control" name="ip" value="{{firewall_ip}}">
                    <button type="submit" class="input-group-text btn btn-primary">UpdateIP</button>
                </div>
            </form>
        </div>
    </div>
{%endblock%}